spring:
  sql:
    init:
      mode: always
      platform: postgres
  application:
    name: retail-poc

  datasource:
    url: jdbc:postgresql://postgres:5432/retail_poc
    username: retail_user
    password: retail_pass
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true

server:
  port: 8080
