name: Build & Push Backend Docker Image

on:
  push:
    branches: [ main ]
    paths:
      - 'backend/**'
      - 'pom.xml'
  pull_request:
    branches: [ main ]
    paths:
      - 'backend/**'
      - 'pom.xml'
  workflow_dispatch:      

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Log in to DockerHub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build & Push Backend Image
        uses: docker/build-push-action@v5
        with:
          context: ./backend
          file: ./backend/Dockerfile
          push: true
          tags: |
            ssurajparfr/retail-backend:latest
            ssurajparfr/retail-backend:${{ github.sha }}
